.dress_rent{
	overflow:hidden;
}
.menu{
	//height: 800px;
	width: 200px;
	float: left;
}
.menu_part{
	height: 330px;
	width: 200px;
	margin-bottom: 30px;
	background-color: #fff;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
}
.menu_part .head{
	height: 40px;
	background-color: #246966;
	color: #fff;
	line-height: 40px;

}
.menu_part .menu_title{
	background-color: #246966;
	background-image: url(../img/FZFL.png);
	height: 40px;
}

.menu_list{
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	text-align: center;
	background-color: #fff;
	background-image: url(../img/user_list.png);
	border-bottom: 1px solid #c9c9c9;
	cursor: pointer;
}

.dress_rent_content{
	
	width: 790px;
	float: right;
	
}
.dress_introduce{
	overflow:hidden;
}
.dress_introduce .best_item,.new_dress{
	background-color: #fff;
	margin-bottom: 4px;
}
.dress_introduce .dress_type {	
	height:36px;
	line-height: 36px;
    background: url(../img/dress_introduce_bg.jpg) repeat-x;
    
}
.dress_rent_content h2{
	
    font-size: 20px;
    color:#fff;
    
    margin-left: 16px;
}
.dress_introduce ul{
	overflow: hidden;
}
.dress_introduce .dress_details{
	float:left;
	margin:14px;
	margin-right:0;
}
.dress_introduce .dress_details span{
	display:block;
}

.dress_rent_content .product_name{
	margin-top: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}
.dress_rent_content .rent{
 
	font-size: 16px;
	color:#00662b;
	font-weight: bold;
}
.costumes{
	overflow:hidden;
	background-color: #fff;
	margin-top:7px;
}
.costumes .dress_show{
 	height:36px;
	line-height: 36px;
	background-color: #007e7b;
}
.costumes .dress_detail{
	float:left;
	margin:14px;
}
.costumes .dress_detail span{
    display:block;
}
.costumes .dress_photo{
	
	margin:22px;
	margin-right:0;
}

/* 显示页面  */
.rent_show{
	overflow: hidden;
}

.rent_show_content{
	overflow: hidden;
	width:790px;
	float:right;
	background: #fff;

}
.rent_show_content .show{
	height:26px;
	line-height: 26px;
	background: url(../img/dress_introduce_bg.jpg) repeat-x;

}
.rent_show_content .show h2{
	 font-size: 14px;
     color:#fff;
     margin-left: 16px;
}
.rent_show_content .condition{
	margin:30px 18px 0;
	padding-bottom: 8px;
	border-bottom: 1px solid #e5e5e5;
	
}
.rent_show_content .condition span{
	display: inline-block;
	margin-left: 8px;
	
}
.rent_show_content .paging{
	overflow: hidden;
	margin-top: 12px;
	margin-bottom: 6px;

}
.rent_show_content .paging a{
    display:block;
    float:right;
    width: 80px;
    height:30px;
    line-height: 30px;
    text-align: center;
    background-color:#13b5b1;
    border:1px solid #008b8d;

}
.rent_show_content .paging .next{
	
	margin-right: 6px;
	margin-left: 90px;

}
.rent_show_content .rent_show_list{
	margin-left: 10px;
}
.rent_show_content .rent_show_list ul{
	overflow: hidden;
}
.rent_show_content .rent_show_list .dress_details{
	float:left;
	margin:14px;
	margin-right:0;
}
.rent_show_content .rent_show_list .dress_details span{
	display:block;
}

.rent_show_content .rent_show_list .product_name{
	margin-top: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}
.rent_show_content .rent_show_list .rent{
 
	font-size: 16px;
	color:#00662b;
	font-weight: bold;
}

/*商品详情页面*/
.product_detail{
	overflow: hidden;
}
.product_detail_content{
	overflow: hidden;
	width:790px;
	float:right;
	background: #fff;
}
.product_detail_content .bg{
	height:28px;
	background: url(../img/dress_introduce_bg.jpg) repeat-x; 
}
.product_detail_content .product_name{
	height:52px;
	line-height: 52px;
	font-size: 24px;
	margin:0 18px;
	border-bottom: 1px solid #e5e5e5;
}
.product_detail_content .product_information{
	margin-top: 24px;
	margin-left: 48px;
	overflow: hidden;
	position:relative;
	
	
}
.product_detail_content .product_information .show_photo{
	float:left;
}
.product_detail_content .product_information .show_details{
	float:left;
	margin-left: 60px;
	font-size: 18px;
	margin-bottom: 20px;
}
.product_detail_content .product_information .show_details li{
	margin-bottom: 14px;
}
.product_detail_content .product_information .show_details .rental{
	font-size: 24px;
}
.product_detail_content .product_information .show_details .deposit{
	font-size: 16px;
}

.product_detail_content .product_information .shopping_cart{
	position:absolute;
	left:360px;
	bottom:0; 

}
.product_detail_content .product_information .collect{
	position:absolute;
	right:70px;
	bottom:0; 
}





#nav_product_detail.select{
	background-image: url(../img/product_detail_hover.png);
}
#nav_product_detail.no{
	background-image: url(../img/product_detail.png);
}
#nav_product_comment.select{
	background-image: url(../img/product_comment_hover.png);
}
#nav_product_comment.no{
	background-image: url(../img/product_comment.png);
}
#nav_sales_record.select{
	background-image: url(../img/sales_record_hover.png);
	
}
#nav_sales_record.no{
	background-image: url(../img/sales_record.png);
}
#nav_consultation.select{
	background-image: url(../img/consultation_hover.png);
}
#nav_consultation.no{
	background-image: url(../img/consultation.png);
}
.nav_wrapper{
	margin-top: 120px;
}
.user_nav{
	
	margin-top: -6px;
	padding-left: 48px;
	height:50px;
	z-index:2;

}
.user_nav div{
	
	height: 50px;
	width: 150px;
	float: left;
	cursor: pointer;
	
}
 .nav_bg{
	width:100%;
	height:6px;
	border-bottom:6px solid #13b5b1;
}
#nav_product_detail_content{
	display:block;
	background-color: #fff;
	min-height: 300px;
}
#nav_product_comment_content{
	display: block;
	background-color: #fff;
	min-height: 300px;
}
#nav_sales_record_content{
	display: block;
	background-color: #fff;
	min-height: 300px;
	
}
#nav_consultation_content{
	display: block;
	background-color: #fff;
	min-height: 300px;
}
