/*----------------slider-------------------*/
.slider{
	background-color: #fff;
	width: 980px;
	height: 430px;
	padding: 10px;
	margin: 10px auto;
}
.slider img{
	width: 980px;
	height: 430px;

}
.banner{ position: relative; overflow: hidden;  }
.banner-btn{display:none;}
.banner-btn a{
	display:block;
	line-height:40px;
	position:absolute;
	top:120px;
	width:40px;
	height:40px;
	background-color:#000;
	opacity:0.3;
	filter:alpha(opacity=30) color:rgb(255, 255, 255);
	overflow:hidden;z-index:4;}
.prevBtn{left:5px;}
.nextBtn{right:5px;}
.banner-img{
	font-size:0;
	*word-spacing:-1px;/* IE6、7 */
	 letter-spacing:-3px;
	 position:relative;}
.banner-img li{display:inline-block;
	*display:inline;
	*zoom:1;/* IE6、7 */ 
	vertical-align:top;
	letter-spacing:normal;
	word-spacing:normal;
	font-size:12px;}
.banner i{
	background:url(http://gtms01.alicdn.com/tps/i1/T1szNBFzlmXXX8QSDI-400-340.png)  no-repeat;
	width:15px;
	height:23px;
	cursor:pointer;
	margin:8px 0 0 12px;
	display:block;
}
.banner .nextBtn i{
	background-position:-200px -24px;
}
.banner .prevBtn i{
	background-position:-200px 0px;}

.banner-circle{
	position:absolute;
	left:50%;
	bottom:15px;
	height:13px;
	text-align:center;
	font-size:0;
	border-radius:10px;
	background:rgba(255,255,255,0.3);
	filter:alpha(opacity:30);
}
.banner-circle li{
	border-radius:10px;
	margin:2px;
	display:inline-block;
	display:-moz-inline-stack;
	vertical-align:middle;
	zoom:1;
}
.banner-circle li a{
	display:block;
	padding-top:9px;
	width:9px;
	height:0;
	border-radius:50%;
	background:#B7B7B7;
	overflow:hidden;
}
.banner-circle .selected a{
	background:#F40;
}




/*-----------------announcemnt&promotion------------------*/
.announcemnt{
	margin-right: 9px;
}
.announcemnt,.promotion{
	background-color: #fff;
	height: 415px;
	width: 492px;
	display: inline-block;
	vertical-align: top;
	color: #fff;
}
.announcemnt h1,.promotion h1{
	display: block;
	padding:2px 5px;
	background-color: #8b8b8b;
	line-height: 20px;
}
.announcemnt div,.promotion div{
	padding: 10px;
}
.announcemnt h3,.promotion h3{
	color: #0b6462;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}
.announcemnt p,.promotion p{
	color: #5b5b5b;
	line-height: 20px;
}